.mainImg {
  width: 100%;
  padding: 0px;
}
header {
  text-align: right;
  height: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
}
header a:hover {
  color: #fb9749;
}
a {
  text-decoration: none;
  color: var(--text-color);
  margin-right: 3%;
}
.loginName {
  margin-right: 3%;
  color: #fb9749;
}
.navbar {
  display: flex;
  background-color: #fdf6f0;
  height: 80px;
  width: 100%;
}

.navbar_logo {
  margin-left: 3%;
}

.navbar_menu li {
  height: 50px;
  width: 100px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-right: 30px;
  margin-top: 5%;
}

.navbar_menu {
  display: flex;
  list-style: none;
  margin: auto;
}

.navbar_menu li:hover {
  border-bottom: 3px solid black;
}

.homenav {
  border-bottom: 3px solid black;
}
#category_wrapper {
  margin-top: 50px;
  text-align: center;
}
figure > img {
  width: 80px;
  height: 80px;
  margin: 10px auto;
  background: #ffffff;
  border: 1px solid #ef9d5d;
  border-radius: 20px;
}
figure :hover {
  background-color: #ef9d5d;
}
figcaption {
  text-align: center;
}
figure {
  display: inline-block;
  background: #ffffff;
}
footer {
  width: 100%;
  height: 100px; /* footer의 높이 */
  position: absolute;
  bottom: 0;
  left: 0;
}
