<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/homePage.css" />
    <link rel="stylesheet" href="/static/css/category.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>Beauty Skin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
      integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <span class="loginName">{{user.username}}님</span>
      {% else %}
      <span></span>
      {% endif %}
      <span></span>
      {% if user.is_authenticated %} &nbsp&nbsp&nbsp
      <a class="headerlogin" href="{% url 'mypage' %}">마이페이지</a>
      <a class="headerlogin" href="{% url 'logout' %}">로그아웃</a>
      {% else %}
      <a class="headerlogin" href="{% url 'login' %}">로그인</a>
      <a href="{% url 'signup' %}">회원가입</a>
      {% endif %}
    </header>
    <nav class="navbar">
      <div class="navbar_logo">
        <img src="/static/img/navLogo.svg" />
      </div>
      <ul class="navbar_menu">
        <li><a href="{% url 'home' %}">홈</a></li>
        <li><a href="{% url 'mypage' %}"> 진단하기</a></li>
        <li><a href="{% url 'allcontent' %}"> 추천제품</a></li>
      </ul>
    </nav>

    <div id="category_wrapper">
      <figure class="all">
        <img  src="/static/icons/cosmetic.svg" alt="" />
        <figcaption>전체보기</figcaption>
			</figure>
			<figure class="skin">
				<img  src="/static/icons/skincare.svg" alt="" />
				<figcaption>스킨케어</figcaption>
			</figure>
			<figure class="mask">
				<img  src="/static/icons/mask.svg" alt="" />
        <figcaption>마스크팩</figcaption>
			</figure>
			<figure class="makeup">
				<img src="/static/icons/makeup.svg" alt="" />
				<figcaption>메이크업</figcaption>
      </figure>
      <figure class="suncare">
        <img src="/static/icons/suncream.svg" alt="" />
				<figcaption>선케어<figcaption>
      </figure>
      <figure class="body">
        <img  src="/static/icons/soap.svg" alt="" />
        <figcaption>바디<figcaption>
      </figure>
		</div>
    {% if user.is_authenticated %}
    <div class="userSkinType">
      {{user.username}}님의 피부타입은 <span>여드름성</span> 피부입니다.
      {%else %} {%endif%}
    </div>
    <div class="itemList skinItemList hide">
      <div class="wrapper">
        <img class="image" src="/static/data/skin01.jpg"/>
        <div class="info">
          <div class="company">토리든</div>
          <div class="name">다이브인 저분자 히알루론산 토너</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/skin02.jpg"/>
        <div class="info">
          <div class="company">에스네이처</div>
          <div class="name">아쿠아 오아시스 토너</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/skin03.jpg"/>
        <div class="info">
          <div class="company">토리든</div>
          <div class="name">다이브인 저분자 히알루론산 수딩 크림</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/skin04.jpg"/>
        <div class="info">
          <div class="company">토리든</div>
          <div class="name">다이브인 저분자 히알루론산 세럼</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/skin05.jpg"/>
        <div class="info">
          <div class="company">에스트라</div>
          <div class="name">아토베리어 365 크림</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/skin06.jpg"/>
        <div class="info">
          <div class="company">라운드랩</div>
          <div class="name">1025 독도 토너</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/skin07.jpg"/>
        <div class="info">
          <div class="company">리얼베리어</div>
          <div class="name">다이브인 저분자 히알루론산 크림</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/skin08.jpg"/>
        <div class="info">
          <div class="company">에스네이처</div>
          <div class="name">아쿠아 콜라겐 펩타이드 트리플 젤 에센스</div>
        </div>
      </div>
    </div>
    <div class="itemList maskItemList">
      <div class="wrapper">
        <img class="image" src="/static/data/mask01.jpg"/>
        <div class="info">
          <div class="company">스킨푸드</div>
          <div class="name">캐롯 카로틴 카밍 워터 패드</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/mask02.jpg"/>
        <div class="info">
          <div class="company">토리든</div>
          <div class="name">다이브인 저분자 히알루론산 마스크팩</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/mask03.jpg"/>
        <div class="info">
          <div class="company">다자연</div>
          <div class="name">마스크팩</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/mask04.jpg"/>
        <div class="info">
          <div class="company">백아율</div>
          <div class="name">모이스처 밸런싱 마스크</div>
        </div>
      </div>
    </div>
    <div class="itemList makeupItemList">
      <div class="wrapper">
        <img class="image" src="/static/data/makeup01.jpg"/>
        <div class="info">
          <div class="company">웨이크메이크</div>
          <div class="name">웨이크메이크 워터 벨벳 커버 파운데이션</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/makeup02.jpg"/>
        <div class="info">
          <div class="company">아워글래스</div>
          <div class="name">아워클래스 팬덤 볼류마이징 글로시 밤</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/makeup03.jpg"/>
        <div class="info">
          <div class="company">아버웃톤</div>
          <div class="name">어바웃톤 블러 파우더 팩트 기획</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/makeup04.jpg"/>
        <div class="info">
          <div class="company">헤라</div>
          <div class="name">헤라 블랙 쿠션</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/makeup05.jpg"/>
        <div class="info">
          <div class="company">퓌</div>
          <div class="name">퓌 쿠션 글래스 리필 기획
          </div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/makeup06.jpg"/>
        <div class="info">
          <div class="company">데이지크</div>
          <div class="name">데이지크 섀도우 팔레트</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/makeup07.jpg"/>
        <div class="info">
          <div class="company">라네즈</div>
          <div class="name">라네즈 네오 쿠션 매트 15g</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/makeup08.jpg"/>
        <div class="info">
          <div class="company">클리오</div>
          <div class="name">클리오 킬커버 더뉴 파운웨어 쿠션 기획</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/makeup09.jpg"/>
        <div class="info">
          <div class="company">바닐라코</div>
          <div class="name">바닐라코 프라이머 피니쉬 파우더 12g</div>
        </div>
      </div>
    </div>
    <div class="itemList suncareItemList">
      <div class="wrapper">
        <img class="image" src="/static/data/suncare01.jpg"/>
        <div class="info">
          <div class="company">에뛰드</div>
          <div class="name">순정 디렉터 수분 선크림</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/suncare02.jpg"/>
        <div class="info">
          <div class="company">라운드랩</div>
          <div class="name">자작나무 수분 선크림</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/suncare03.jpg"/>
        <div class="info">
          <div class="company">셀퓨전씨</div>
          <div class="name">셀퓨전씨 레이저 썬스크린 스페셜</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/suncare04.jpg"/>
        <div class="info">
          <div class="company">에스크라</div>
          <div class="name">더마UV365 장벽수분 무기자차 선크림 40m</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/suncare05.jpg"/>
        <div class="info">
          <div class="company">식물나라</div>
          <div class="name">산소수페이스앤바디보송선스틱</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/suncare06.jpg"/>
        <div class="info">
          <div class="company">닥터지</div>
          <div class="name">닥터지 그린 마일드업 선 플러스 40ml</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/suncare07.jpg"/>
        <div class="info">
          <div class="company">AHC</div>
          <div class="name">AHC 마스터즈 엔어 리치 선스틱 듀오</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/suncare08.jpg"/>
        <div class="info">
          <div class="company">아떼</div>
          <div class="name">아떼 비건 릴리프 선에센스 70ml</div>
        </div>
      </div>
    </div>
    <div class="itemList bodyItemList">
      <div class="wrapper">
        <img class="image" src="/static/data/body01.jpg"/>
        <div class="info">
          <div class="company">일리윤</div>
          <div class="name">세라마이드 아토 로션 시나모롤 기획</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/body02.jpg"/>
        <div class="info">
          <div class="company">낫포유</div>
          <div class="name">낫포유 클리어 바디 미스트 200ml</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/body03.jpg"/>
        <div class="info">
          <div class="company">일리윤</div>
          <div class="name">일리윤 프레쉬 모이스춰스크럽 폼폼푸린 기획 400ml</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/body04.jpg"/>
        <div class="info">
          <div class="company">바이오더마</div>
          <div class="name">바이오더마 아토덤 울크라 크림</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/body05.jpg"/>
        <div class="info">
          <div class="company">쉬크</div>
          <div class="name">쉬크 인튜이션 잔망루피에디션 버라이어티 기획 2종</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/body06.jpg"/>
        <div class="info">
          <div class="company">일리윤</div>
          <div class="name">일리윤 세라마이드 아토 로션 600ml</div>
        </div>
      </div>
      <div class="wrapper">
        <img class="image" src="/static/data/body07.jpg"/>
        <div class="info">
          <div class="company">트리헛</div>
          <div class="name">트리헛시어 슈가 스크럽 510g</div>
        </div>
      </div>
    </div>
  </body>
  <script src="/static/js/cate.js"></script>
</html>
