<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/homePage.css" />
    <link rel="stylesheet" href="/static/css/content.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>Beauty Skin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
      integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <span class="loginName">{{user.username}}님</span>
      {% else %}
      <span></span>
      {% endif %}
      <span></span>
      {% if user.is_authenticated %} &nbsp&nbsp&nbsp
      <a class="headerlogin" href="{% url 'mypage' %}">마이페이지</a>
      <a class="headerlogin" href="{% url 'logout' %}">로그아웃</a>
      {% else %}
      <a class="headerlogin" href="{% url 'login' %}">로그인</a>
      <a href="{% url 'signup' %}">회원가입</a>
      {% endif %}
    </header>
    <nav class="navbar">
      <div class="navbar_logo">
        <img src="/static/img/navLogo.svg" />
      </div>
      <ul class="navbar_menu">
        <li><a href="{% url 'home' %}">홈</a></li>
        <li><a href="{% url 'mypage' %}"> 진단하기</a></li>
        <li><a href="{% url 'allcontent' %}"> 추천제품</a></li>
      </ul>
    </nav>
    <div id="category_wrapper">
      <figure class="all">
        <img  src="/static/icons/cosmetic.svg" alt="" />
        <figcaption>전체보기</figcaption>
			</figure>
			<figure class="skin">
				<img  src="/static/icons/skincare.svg" alt="" />
				<figcaption>스킨케어</figcaption>
			</figure>
			<figure class="mask">
				<img  src="/static/icons/mask.svg" alt="" />
        <figcaption>마스크팩</figcaption>
			</figure>
			<figure class="makeup">
				<img src="/static/icons/makeup.svg" alt="" />
				<figcaption>메이크업</figcaption>
      </figure>
      <figure class="suncare">
        <img src="/static/icons/suncream.svg" alt="" />
				<figcaption>선케어<figcaption>
      </figure>
      <figure class="body">
        <img  src="/static/icons/soap.svg" alt="" />
        <figcaption>바디<figcaption>
      </figure>
		</div>
    <div class="itemList"></div>

  </body>
  <script src="/static/js/cate.js"></script>
</html>
